a {
  /* background-color: #003300; */
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  padding: 5px;
  border-radius: 15%;
}
a:hover{
  background-color: #660000;
}
a:active{
  background-color: #666633;
}
.Home {
  background-image: linear-gradient(rgb(33, 36, 41), rgba(0, 51, 0, 0.39)),
  url("https://images.unsplash.com/photo-1663353668307-06d9c49094ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=755&q=80");
  /* background-color: #003300; */
  background-size: cover;
  color: #ffffcc;
  height: 20em;
  text-align: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}