@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  /* background-color: #003300; */
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  padding: 5px;
  border-radius: 15%;
}
a:hover{
  background-color: #660000;
}
a:active{
  background-color: #666633;
}
.Home {
  /* background-color: #003300; */
  background-size: cover;
  color: #ffffcc;
  height: 20em;
  text-align: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}