
a {
  background-color: #606060;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  padding: 5px;
  border-radius: 15%;

}
.Home {
  background-size: cover;
  color: #ffffcc;
  height: 12em;
  text-align: center;
  background-image: linear-gradient(rgb(42, 42, 42), rgba(0, 51, 0, 0.049)),
                  url("https://images.unsplash.com/photo-1663353668307-06d9c49094ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=755&q=80")
}
/* body {
  background-color: #ffffcc;
  height: 10em;
} */
